<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/barbarian.png" alt="">
  </div>
  <div class="headings">
    <h2>Halaman utama untuk mengetes autentikasi menggunakan JWT</h2>
    <h3>By Barbarr a.k.a Akbar Maliki Haqoni Jati</h3>
    <a href="/testhalaman" class="btn">Tes autentikasi pada halaman lain</a>
  </div>
</header>


<%- include('partials/footer'); -%>